.header-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*border: 1px solid red;*/
    background-image: linear-gradient(90deg, #e7613a, #dd3038);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 1100px;

    /*border: 1px solid blue;*/
}

.header-icon {
    /*border: 1px solid orange;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-icon img {
    max-height: 200px;
    max-width: 200px;

    margin: 80px;
}

.post-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #FDF4F2;
    border: 2px solid #292929;
}

.post-section-container {
    border: 2px solid yellow;
    flex-basis: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-section-container header {
    margin: 80px;
    border: 1px solid green;
    flex-basis: 0px;
}

.post-list {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    border: 1px solid blue;
}

.post-list ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post-list > ul > li {
    width: 30%;
    margin: 1%;
    height: 250px;
    /*height: 200px;*/
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px #292929;
    border-radius: 5px;
}