/*IMPORTS*/
@import "assets/fonts/quicksand/webfontkit/quicksand_fontface.css";
@import "assets/fonts/roboto condensed/webfontkit/roboto-condensed_fontface.css";

/*COLORS*/
{
  color: #dd3038;
  color: #e7613a;
  color: #FDF4F2;
  color: #292929;
  color: #FFFFFF;
}

/*CSS RESET*/
* {
  margin: 0px;
  box-sizing: border-box;
}


